<root>
  <flag>705745171.5856862</flag>
  <terrible>869988912.2543349</terrible>
  <lovely>-822443657.0728674</lovely>
  <dust>
    <thee>
      <ants>vegetable</ants>
      <manner>team</manner>
      <height>-413718062</height>
      <guard>-882432832</guard>
      <involved>-1208879712.6738029</involved>
      <final>motor</final>
    </thee>
    <term>1976133297.0356164</term>
    <universe>face</universe>
    <terrible>2041404920</terrible>
    <third>fellow</third>
    <knew>making</knew>
  </dust>
  <pretty>wave</pretty>
  <away>392885369.50951624</away>
</root>