<root>
  <palace>cover</palace>
  <roar>
    <opinion>poor</opinion>
    <present>introduced</present>
    <usually>
      <thank>trunk</thank>
      <favorite>1674400937.990879</favorite>
      <canal>669154793</canal>
      <accurate>-1817966723</accurate>
      <negative>1467648669.8198175</negative>
      <lungs>869821795.548625</lungs>
    </usually>
    <bicycle>-24083343.35763693</bicycle>
    <against>teacher</against>
    <toy>zero</toy>
  </roar>
  <lonely>416420837</lonely>
  <feed>dropped</feed>
  <service>1830882181.0069747</service>
  <coat>sunlight</coat>
</root>